# This is a basic workflow to help you get started with Actions
name: CI Flutter Action IOS

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [cl-flutter-action-ios]
    paths-ignore:
      - '**/README.md'
  pull_request:
    branches: [cl-flutter-action-ios]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
  
jobs:
  build:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v3
    - uses: subosito/flutter-action@v2
      with:
        channel: 'stable'
        architecture: x64
    - run: flutter --version    
    - run: flutter pub get
    - run: flutter analyze
    - run: flutter test
      env: 
        ARGS: "-av"
   
